html, body, .docs-page-container {
  height: 100%;
}

header {
  border-right: 1px solid #ddd;
  height: 100% !important;
  width: 300px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0px;
}

nav li > a {
  padding: 4px 32px;
  display: block;
  text-decoration: none;
  font-size: 1.1rem;
  color: #333;
}

nav a.active {
  color: var(--blue-5);
}

.brand-title {
  text-decoration: none;
  font-weight: var(--semi-bold);
  color: #222;
  display: flex;
  align-content: center;
  align-items: center;
  padding: 24px 32px;
  font-size: 1.6rem;
}

.brand-title img {
  margin-right: 8px;
}

main {
  padding: 100px 80px;
}