html, body, .docs-page-container {
  min-height: 100%;
}

body {
  font-size: var(--font-text-docs);
}

header {
  border-right: 1px solid #ddd;
  height: 100% !important;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
}

.header-placeholder {
  width: 250px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0px;
}

nav li > a {
  padding: 4px 32px;
  display: block;
  text-decoration: none;
  /* font-size: 1.1rem; */
  color: #333;
}

nav a.active, nav a:hover {
  color: var(--blue-5);
  transition: color 0.2s ease;
}

nav a.active {
  font-weight: bold;
}

.brand-title {
  text-decoration: none;
  font-weight: bold;
  color: #222;
  display: flex;
  align-content: center;
  align-items: center;
  padding: 24px 32px;
  font-size: 1.6rem;
}

.brand-title img {
  margin-right: 8px;
}

.content {
  width: 100%;
  flex: 1;
}

.content-padding {
  padding: 50px 80px;
  max-width: 1000px;
}

h1, h2, h3 {
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

h1 + p {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.5rem;
  margin: 2.5rem 0rem 1rem 0rem;
}

h3 {
  font-size: 1.5rem;
  margin: 1rem 0rem 0rem 0rem;
}

.or {
  text-align: center;
  padding: 2rem 0px 2rem 0px;
  font-size: 1.5rem;
  font-weight: bold;
  opacity: .4;
}

a {
  color: var(--blue-6);
  text-decoration: none;
}

a:hover {
  color: var(--blue-4);
}

.next-prev-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 24px;
  padding: 48px 0px;
}

.next-prev-buttons a {
  padding: 8px 24px;
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: all .3s ease;
}

.next-prev-buttons a:hover {
  border: 1px solid var(--blue-5);
}

.next-prev-buttons a .uncolored-text {
  color: #111;
  font-size: var(--font-text-small);
}

.next-button {
  text-align: right;
}