.mdx-utils {
  &.note-block {
    padding: 1rem 1rem;
    background-color: var(--blue-11);
    border-radius: 4px;
    font-size: var(--font-text-small);
    margin-bottom: 1.5rem;

    strong {
      color: var(--blue-6);
    }

    ul {
      margin: 0px;
      padding-top: 0px;
      padding-left: 30px;
    }

    li {
      color: var(--blue-6);
    }

    a {
      color: var(--blue-6);
      text-decoration: underline;
    }
  }
}